<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= @eventTitle %> | Guesswhich!</title>
  <style>
      body {
          font-family: Arial, sans-serif;
          background-image: url('https://wallpapercave.com/wp/wp9440197.jpg');
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          background-attachment: fixed;
          color: #ffffff;
          margin: 0;
          padding: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100vh;
          flex-direction: column;
      }

      .pdf-container {
          width: 80%;
          height: 80%;
          background-color: rgba(255, 255, 255, 0.9);
          border-radius: 10px;
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
          overflow: hidden;
      }

      iframe {
          width: 100%;
          height: 100%;
          border: none;
      }
  </style>
</head>
<body>
<p>PDF URL: <%= @learnPdf %></p>
<div class="pdf-container">
  <iframe src=<%= @learnPdf %>></iframe>
</div>

</body>
</html>

