<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login | Guesswhich!</title>
  <link href="https://fonts.googleapis.com/css2?family=Marcellus&family=Raleway:wght@400;700&display=swap" rel="stylesheet">
  <style>
      body {
          font-family: 'Raleway', sans-serif;
          background-image: url('https://c.wallhere.com/photos/df/65/Tibia_PC_gaming_RPG_creature_drawing_women_druids-120582.jpg!d');
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          background-attachment: fixed;
          margin: 0;
          padding: 0;
          color: #5a3e36;
      }
      .container {
          max-width: 400px;
          margin: 50px auto;
          padding: 30px;
          background-color: #fdf5e6;
          border-radius: 10px;
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
          border: 1px solid #d4a373;
          background-image: url('https://www.transparenttextures.com/patterns/aged-paper.png');
      }
      h2 {
          font-family: 'Marcellus', serif;
          text-align: center;
          color: #5a3e36;
          margin-bottom: 20px;
      }
      form {
          text-align: center;
      }
      label {
          display: block;
          margin-bottom: 10px;
          color: #5a3e36;
          font-weight: bold;
      }
      input[type="text"],
      input[type="password"] {
          width: 100%;
          padding: 10px;
          margin-bottom: 20px;
          border: 1px solid #d4a373;
          border-radius: 5px;
          box-sizing: border-box;
          background-color: #fff8e1;
      }
      input[type="submit"] {
          background-color: #a25f4b;
          color: white;
          padding: 10px 20px;
          border: none;
          border-radius: 50px;
          cursor: pointer;
          transition: background-color 0.3s, transform 0.3s;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }
      input[type="submit"]:hover {
          background-color: #d4a373;
          color: #5a3e36;
          transform: scale(1.05);
      }
      input[type="submit"]:active {
          transform: scale(0.98);
      }
      p {
          color: #5a3e36;
      }
      a {
          color: #a25f4b;
          text-decoration: none;
          font-weight: 700;
      }
      a:hover {
          text-decoration: underline;
      }
  </style>
</head>
<body>
<div class="container">
  <h2>Log In</h2>
  <form action="/login" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required><br><br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required><br><br>
    <input type="submit" value="Log In">
    <p>Don't have an account? <a href="/register">Sign Up</a> now!</p>
  </form>
</div>
</body>
</html>
