<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= @eventTitle %> | Guesswhich!</title>
  <link href="https://fonts.googleapis.com/css2?family=Marcellus&family=Raleway:wght@400;700&display=swap" rel="stylesheet">
  <style>
      body {
          font-family: 'Raleway', sans-serif;
          background-image: url('https://c.wallhere.com/photos/df/65/Tibia_PC_gaming_RPG_creature_drawing_women_druids-120582.jpg!d');
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          background-attachment: fixed;
          color: #5a3e36;
          margin: 0;
          padding: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100vh;
      }

      .container {
          text-align: center;
          padding: 75px;
          background-color: #fdf5e6;
          border-radius: 10px;
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
          border: 1px solid #d4a373;
          background-image: url('https://www.transparenttextures.com/patterns/aged-paper.png');
          height: 550px;
      }

      h1 {
          font-family: 'Marcellus', serif;
          margin-top: 0;
          color: #5a3e36;
      }

      .button {
          display: block;
          width: 200px;
          margin: 10px auto;
          padding: 10px 18px;
          font-size: 18px;
          background-color: #a25f4b;
          color: #fff;
          text-align: center;
          text-decoration: none;
          border: none;
          border-radius: 50px;
          cursor: pointer;
          transition: background-color 0.3s ease, transform 0.3s;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }

      .button:hover {
          background-color: #d4a373;
          color: #5a3e36;
          transform: scale(1.05);
      }

      .button:active {
          transform: scale(0.98);
      }


      form {
          text-align: center;
      }
      label {
          display: block;
          margin-bottom: 10px;
          color: #5a3e36;
          font-weight: bold;
      }


      #question {
          width: 100%;
          padding: 30px;
          margin-bottom: 20px;
          border: 1px solid #d4a373;
          border-radius: 5px;
          box-sizing: border-box;
          background-color: #fff8e1;
      }

      input[type="text"] {
          width: 100%;
          padding: 3px;
          margin-bottom: 10px;
          border: 1px solid #d4a373;
          border-radius: 3px;
          box-sizing: border-box;
          background-color: #fff8e1;
      }

  </style>
</head>
<body>

<div class="container">
  <h1><%= @eventTitle %></h1>
  <form action="/add-questions"  method="post">
  <label for="question">New Question:</label>
  <input type="text" id="question" name="question" value="¿ ?"required><br><br>
  <label for="correct_answer">Correct Answer:</label>
  <input type="text" id="correct_answer" name="correct_answer" required><br><br>
  <label for="incorrect_answer1">Incorrect Answer:</label>
  <input type="text" id="incorrect_answer1" name="incorrect_answer1" required><br><br>
  <label for="incorrect-answer-2">Incorrect Answer:</label>
  <input type="text" id="incorrect_answer2" name="incorrect_answer2" required><br><br>
  <label for="incorrect_answer3">Incorrect Answer:</label>
  <input type="text" id="incorrect_answer3" name="incorrect_answer3" required><br><br>
  <input type="submit" class="button" value="Add">
  </form>
  <a href="/events" class="button">Back</a>
</div>
<script>
    document.getElementById('button').addEventListener('click', function() {
        history.back();
    });
</script>
</body>
</html>


