<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Guesswhich</title>
  <style>
      body {
          font-family: 'Roboto', sans-serif;
          background-image: url('https://wallpapercave.com/wp/wp9440197.jpg');
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          background-attachment: fixed;
          margin: 0;
          padding: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100vh;
      }

      .container {
          background-color: #fff;
          border-radius: 8px;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          padding: 20px;
          text-align: center;
          width: 1500px;
          height: 500px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
      }

      h1 {
          margin-top: 20px;
          color: #333;
          font-size: 24px;
      }

      p {
          color: #666;
          margin-bottom: 20px;
      }

      button {
          display: block;
          margin: 10px auto;
          padding: 10px 20px;
          font-size: 16px;
          background-color: #76b1bd;
          color: #fff;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          transition: background-color 0.3s ease;
          width: 400px;
          height: 40px;
      }

      button:hover {
          background-color: rgba(118, 177, 189, 0.5);
      }

      #countdown {
          font-size: 3em;
          color: #000000;
          animation: pulse 1s infinite;
      }

      @keyframes pulse {
          0% {
              transform: scale(1);
              opacity: 1;
          }
          50% {
              transform: scale(1.1);
              opacity: 0.7;
          }
          100% {
              transform: scale(1);
              opacity: 1;
          }
      }
  </style>
</head>
<body>

<div class="container">
  <div id="countdown">100</div>
  <div id="question-container">
    <h1><%= @questions.description %></h1>
    <p>Selecciona una respuesta:</p>

    <form id="answer-form">
      <% @answers.shuffle.each do |answer| %>
        <input type="hidden" name="answer" id="<%= answer.id %>" value="<%= answer.id %>" />
        <button type="submit" id="answer"><%= answer.description %></button>
      <% end %>
    </form>
  </div>
  <a href="/menu" class="button">Back</a>
</div>

<script>
    let timeLeft = 70;
    const countdownElement = document.getElementById('countdown');

    const countdownTimer = setInterval(() => {
        if (timeLeft <= 0) {
            clearInterval(countdownTimer);
            window.location.href = 'http://127.0.0.1:4567/menu';
        } else {
            countdownElement.textContent = timeLeft;
            timeLeft--;
        }
    }, 1000);

    function handleFormSubmit(event) {
        event.preventDefault();

        const formData = new FormData(this);

        fetch('/timeout-mode', {
            method: 'POST',
            body: formData
        })
            .then(response => response.json())
            .then(data => {
                if (data.redirect) {
                    window.location.href = data.redirect;
                } else {
                    // Actualizar la pregunta y las respuestas sin reiniciar el temporizador
                    const questionContainer = document.getElementById('question-container');
                    questionContainer.innerHTML = `
                    <h1>${data.question.description}</h1>
                    <p>Selecciona una respuesta:</p>
                    <form id="answer-form">
                        ${data.answers.map(answer => `
                            <input type="hidden" name="answer" id="${answer.id}" value="${answer.id}" />
                            <button type="submit" id="answer">${answer.description}</button>
                        `).join('')}
                    </form>
                `;
                    // Volver a añadir el manejador de eventos para el nuevo formulario
                    document.getElementById('answer-form').addEventListener('submit', handleFormSubmit);
                }
            });
    }

    // Añadir el manejador de eventos inicial
    document.getElementById('answer-form').addEventListener('submit', handleFormSubmit);
</script>
</body>
</html>
